@import "tailwindcss";
@theme {
    --color-black-primary: #1F1D2B;
    --color-orange-500: #EA7C69;
    --color-orange-100: #EB966A42;
    --color-orange-200: #EA7C69;
    --color-black-100: #252836;
    --radius-xl2: 16px;
    --radius-xl: 8px;
    --radius-lg2: 12px;
}